.hidden {
    display: none;
}

img, embed, object, video {
    max-width: 100%;
}

html{
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    transition: all .1s linear;
}
.container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0px 16px;
    margin-top: 30px;
}

.mainNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
//burgermenu

#burgerCon.slideToggle {
    display: block;
}

.mainNavigation button {
    background: url(../images/burger.svg) center no-repeat;
    border: 0px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.mainNavigation button.expanded{
    transform: rotate(90deg);
}
.mainNavigation button:hover {
    background: url(../images/burger.svg) center no-repeat;
}


//welcome


.flashBack {
    width: 330px;
    height: 380px;
    border-radius: 10px;
    background-color: lightblue;
    margin: 5px;
}

.flashCon {
    max-width: 1054px;
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: center;
}

.sloganCon{
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1054px;
}
//content {
.avata {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: lightskyblue;
}

//content
.show {
    width: 150px;
    height: 108px;
    background-color: lightseagreen;
    margin: 5px;
}

//footer
.footerNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerNav ul li {
    cursor: pointer;
    padding: 10px;
}


.social_Nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.facebook { background: url(../images/social_face.svg) center no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0px;
    margin: 0;
}
.facebook:hover {
    background: url(../images/social_face_o.svg) center no-repeat;
}

.insta { background: url(../images/social_insta.svg) center no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0px;
    margin: 0;
}
.insta:hover {
    background: url(../images/social_insta_o.svg) center no-repeat;
}

.twitter { background: url(../images/social_twiter.svg) center no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0px;
    margin: 0;
}
.twitter:hover {
    background: url(../images/social_twiter_o.svg) center no-repeat;
}

.youtube { background: url(../images/social_youtube.svg) center no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0px;
    margin: 0;
}
.youtube:hover {
    background: url(../images/social_youtube_o.svg) center no-repeat;
}
